<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.housecut">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="com.example.android.housecut.HouseCutApp"
        android:allowBackup="true"
        android:icon="@mipmap/housecutlogo"
        android:label="Housecut"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".login_activity"
            android:label="Login Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".register_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="Register Activity" />

        <activity
            android:name=".main_page_activity"
            android:label="Main Page Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".grocery_list_activity"
            android:label="Grocery List Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".task_list_activity"
            android:label="Task List Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".settings_activity"
            android:label="Settings Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".join_household_activity"
            android:label="No Household Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>

        <activity
            android:name=".create_household_activity"
            android:label="Create Household Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"/>
        <activity
            android:name=".change_username_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="Change Username Activity" />
        <activity
            android:name=".leave_household_activity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:label="Leave Household Activity" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />


    </application>

</manifest>